-i https://pypi.org/simple
absl-py==0.6.1
astor==0.7.1
astroid==2.1.0
atomicwrites==1.2.1
attrs==18.2.0
bz2file==0.98
cachetools==3.0.0
certifi==2018.11.29
chardet==3.0.4
click==7.0
enum34==1.1.6
flask==1.0.2
future==0.17.1
futures==3.1.1
gast==0.2.1.post0
gevent==1.4.0
google-api-python-client==1.7.7
google-auth-httplib2==0.0.3
google-auth==1.6.2
googleapis-common-protos==1.5.6
greenlet==0.4.15 ; platform_python_implementation == 'CPython'
grpcio==1.17.1
gunicorn==19.9.0
gym==0.10.9
h5py==2.9.0
httplib2==0.12.0
idna==2.8
isort==4.3.4
itsdangerous==1.1.0
jinja2==2.10
keras-applications==1.0.6
keras-preprocessing==1.0.5
lazy-object-proxy==1.3.1
markdown==3.0.1
markupsafe==1.1.0
mccabe==0.6.1
mesh-tensorflow==0.0.5
more-itertools==5.0.0
mpmath==1.1.0
mypy-extensions==0.4.1
mypy==0.650
numpy==1.15.4
oauth2client==4.1.3
pluggy==0.8.1
protobuf==3.6.1
py==1.7.0
pyasn1-modules==0.2.3
pyasn1==0.4.5
pyglet==1.3.2
pylint==2.2.2
pytest==4.1.0
pytz==2018.9
requests==2.21.0
rsa==4.0
scipy==1.2.0
sentencepiece==0.1.6
six==1.12.0
sympy==1.3
-e git+https://github.com/ywkim/tensor2tensor.git@94c14df3c39fc8fabf229e8d5dd7d4b6b1956d25#egg=tensor2tensor
tensorboard==1.12.2
tensorflow-gpu==1.12.0
tensorflow-metadata==0.9.0
tensorflow-probability==0.5.0
termcolor==1.1.0
tfds-nightly==0.0.1.dev201811210014
tqdm==4.29.1
typed-ast==1.1.1 ; python_version < '3.7' and implementation_name == 'cpython'
uritemplate==3.0.0
urllib3==1.26.18
werkzeug==0.14.1
wheel==0.32.3 ; python_version >= '3'
wrapt==1.11.0
